---
import { Icon } from 'astro-icon/components'
import LightSwitch from './LightSwitch.astro'
---
<footer class="fixed bottom-0 left-0 right-0 text-gray-400 dark:text-white p-4 w-screen">
  <div class="container w-screen mx-auto flex justify-between items-center">
    <div class="text-sm shadow-sm">© 2025 Calgo</div>
    <div class="flex space-x-4">     
      <a href="https://github.com/darwincereska/calgo" class="shadow-sm hover:text-gray-400"><Icon name="mdi:github" size="25"/></a>
      <LightSwitch />
    </div>
  </div>
</footer>