---
interface Props {
	title: string;
}
import '../styles/global.css'
const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<title>{title}</title>
		<script is:inline>
			// On page load or when changing themes, best to add inline in `head` to avoid FOUC
			if (localStorage.theme === 'dark' || (!('theme' in localStorage) && window.matchMedia('(prefers-color-scheme: dark)').matches)) {
				document.documentElement.classList.add('dark');
			} else {
				document.documentElement.classList.remove('dark');
			}
		</script>
	</head>
	<body class="min-h-screen bg-white dark:bg-dark_primary text-black dark:text-white font-nunito transition-colors duration-300">
		<slot />
	</body>
</html>
<style is:global>
	@font-face {
		font-family: "Nunito";
		font-style: normal;
		font-weight: 400;
		src:
			local(""),
			url("/fonts/nunito-v16-latin-regular.woff2") format("woff2");
	}
	code {
		font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
	}
</style>

