---
import Layout from "../layouts/Layout.astro";
import Logo from "../components/Logo.astro";
import { TITLE } from '../constants.ts'
---
<Layout title={TITLE}>
	<main class="flex">
	<section class="m-10 h-screen w-screen border-2">
		</section>
	</main>
</Layout>
